header{
    background-color: #CCCCCC;
    padding: 20px 0 0 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
    text-decoration: underline;
}

h1{
    padding-left: 20px;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
}

.productos li:hover{
    border-color: darkolivegreen;
    color: darkolivegreen;
}

.productos li:active{
    border-color: green;
    color: green;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.descripcion{
    font-size: 18px;
}

.precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
}

.copy{
    color: white;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 20px;
}